body {
	background-image: url("../img/ichiba-kan.jpg");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 40px;
    color:#EEE;
}
/* Custom container */
.container-narrow {
	margin: 0 auto; max-width: 960px;
} 
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */ 
.jumbotron {
/*margin: 60px 0;*/ 
    text-align: center;
}
.jumbotron h1 {
	font-size: 60px;
    line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
    padding: 14px 24px;
}

.jumbotron .iphone-img {
    width:380px;
    height:640px;
}
.jumbotron .prepass-img {
    margin: 60px 0;
}


/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

@media screen and (max-width: 800px) {
    .jumbotron h1 {
	    font-size: 36px;
        line-height: 1;
    }
    .jumbotron .iphone-img {
	    width:380px;
        height:640px;
    }
}
